%h1 SlideIt!

%h2 Tell me, what's important for you?

= link_to 'Log in!', new_user_session_path, class: 'btn btn-primary btn-large'
= link_to "Sign up", new_user_registration_path, class: 'btn btn-large'

#container
  -# tu jebnąć demo :D
