.col-md-2
  %p.up-margin= link_to 'Log in!', new_user_session_path, class: 'btn btn-primary btn-large'

.col-md-8
  %h1.text-center SlideIt!

  %h2.text-center
    %em Tell me, what's important for you?

.col-md-2
  %p.up-margin= link_to "Sign up", new_user_registration_path, class: 'btn btn-large btn-primary'

#container
  -# tu jebnąć demo :D
