.col-md-2
  %p.up-margin= link_to 'Log in!', new_user_session_path, class: 'btn btn-primary btn-large'

.col-md-8
  %h1.text-center SlideIt!

  %h2.text-center
    %em Tell me, what's important for you?

.col-md-2
  %p.up-margin= link_to "Sign up", new_user_registration_path, class: 'btn btn-large btn-primary'

#dziura

.row
  .col-md-4.col-md-offset-4#priorities
    #sliders
