.row
  .col-md-12
    .top-row
      %h3.text-center
        Set your priorites for
        %em= @project.title.capitalize

.row
  .col-md-4.col-md-offset-4#priorities
    #sliders
    .input-group#new-priority
      %input.form-control
      .input-group-btn
        = link_to 'Add new priority', '#', class: 'add btn btn-medium btn-primary'
